.body {
font-family: 'Roboto', sans-serif;
 color: #434455;
background: #FFFFFF ;
}
.link {
    text-decoration: none;
}

.logo-link {
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 800;
font-style: normal;
line-height: 21px;
letter-spacing: 0.03em;
color: #4D5AE5;
text-transform: uppercase;
}

.link-studio .link span{
color: #2E2F42;

}
.nav-list .link {
color: #2E2F42;
}
.nav-list .link:hover,
.nav-list .link:focus{
color: #404bbf
}
.nav-list {
list-style-type: none;
 font-family: 'Roboto';
font-weight: 500;
font-style: normal;
font-size: 16px;
list-style: none;
line-height: 24px;
letter-spacing: 0.02em;
}
.address{
font-style: normal
}
.contacts-list{
list-style-type: none;
font-style: normal;
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
color: #404bbf
}
.contacts-list .link{
color: #434455;
}
.main-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
color: #FFFFFF;
background: #2E2F42
}
.main-button {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
background: #4D5AE5;
}
.features{
font-family: 'Roboto';
list-style-type: none;
}
.features h3 {
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #2E2F42;
}
.features p {
font-weight: 400;
font-size: 16px;
color: #434455;
}
.second-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
text-align: center;
color: #2E2F42;
}

.our-team {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
text-align: center;
color: #2E2F42;
}
.ul-our-team {
font-family: 'Roboto';
font-style: normal;
list-style: none;
}
.ul-our-team h3 {
font-weight: 500;
font-size: 20px;
color: #2E2F42;
}
.ul-our-team p {
font-weight: 400;
font-size: 16px;
color: #434455;
}
.text-footer {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #F4F4FD;
line-height: 24px;
letter-spacing: 0.02em;
}
.footer {
background: #2E2F42
}
.link-studio .link span {
color: #2E2F42;
}

.button-portfolio{
list-style-type: none;
}

.button-portfolio button{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #4D5AE5;
background: #F4F4FD;
}

.button-portfolio button:hover {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
background: #404BBF;
}

.button-portfolio button:focus {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
background: #404BBF;
}

.main-portfolio{
font-family: 'Roboto';
font-style: normal;
list-style-type: none;
text-decoration: none;
}

.main-portfolio a{
    text-decoration: none;
}

.main-portfolio h3{
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #2E2F42;
}

.main-portfolio p{
font-weight: 400;
font-size: 16px;
color: #434455;
}

